/* Stile für den gesamten Körper der Webseite */
body {
    font-family: Arial, sans-serif; /* Schriftart */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Hintergrundfarbe */
}
.header {
    position: relative;
    scale: 10%;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slideshow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: fade 10s infinite;
}

.fade {
    animation-name: fade;
}

@keyframes fade {
    0% { opacity: 1; }
    33% { opacity: 0; }
    66% { opacity: 0; }
    100% { opacity: 1; }
}

.slide:nth-child(1) {
    animation-delay: 0s;
}

.slide:nth-child(2) {
    animation-delay: 10s;
}

.slide:nth-child(3) {
    animation-delay: 20s;
}

.header-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}

.header-content h1 {
    margin: 0;
    font-size: 3em;
}

/* Stile für den Header (Kopfbereich) */
/*header {
    /*background-color: #0056b3; /* Hintergrundfarbe des Headers */
    /*background: url(images/IMG_1474.JPG) no-repeat;
    width:1000px;
    height:200px;
    color: #fff; /* Textfarbe im Header 
    padding: 1rem; /* Innenabstand 
    text-align: center; /* Text zentrieren 
} */

/* Stile für die Navigation */
nav {
    display: flex;
    justify-content: center; /* Navigation horizontal zentrieren */
    background-color: #003366; /* Hintergrundfarbe der Navigation */
}

/* Stile für die Links in der Navigation */
nav a {
    color: #fff; /* Textfarbe der Links */
    padding: 1rem; /* Innenabstand */
    text-decoration: none; /* Keine Unterstreichung */
}

/* Stile für die Links in der Navigation, wenn die Maus darüber fährt */
nav a:hover {
    background-color: #0056b3; /* Hintergrundfarbe beim Hover */
}

/* Stile für den Hauptbereich der Webseite */
main {
    padding: 2rem; /* Innenabstand */
}

/* Stile für den Fußbereich der Webseite */
footer {
    background-color: #003366; /* Hintergrundfarbe des Fußbereichs */
    font-size: medium;
    color: #fff; /* Textfarbe im Fußbereich */
    text-align: center; /* Text zentrieren */
    padding: 1rem; /* Innenabstand */
    position: relative; /* Fußbereich am unteren Bildschirmrand fixieren */
    width: 100%;
    bottom: 0; /* Am unteren Rand des Fensters platzieren */
}