/* Stile für den gesamten Körper der Webseite */
body {
    font-family: Arial, sans-serif; /* Schriftart */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Hintergrundfarbe */
}

/* Stile für den Header (Kopfbereich) */
header {
    background-color: #003056; /* Hintergrundfarbe des Headers */
    /*background-image: url(images/IMG_1474.JPG) no-repeat;
    background-size: auto;
    width:1000px;
    height:200px;*/
    color: #ffffff; /* Textfarbe im Header */
    padding: 1rem; /* Innenabstand */
    text-align: center; /* Text zentrieren */
} 

/* Stile für die Navigation */
nav {
    display: flex;
    justify-content: center; /* Navigation horizontal zentrieren */
    background-color: #810a1a; /* Hntergrundfarbe der Navigation */
}

/* Stile für die Links in der Navigation */
nav a {
    color: #ffffff; /* Textfarbe der Links */
    padding: 1rem; /* Innenabstand */
    text-decoration: none; /* Keine Unterstreichung */
}

/* Stile für die Links in der Navigation, wenn die Maus darüber fährt */
nav a:hover {
    background-color: #730817; /* Hintergrundfarbe beim Hover */
}

/* Stile für den Hauptbereich der Webseite */
main {
    padding: 2rem; /* Innenabstand */
}

/* Stile für den Fußbereich der Webseite */
footer {
    background-color: #003056; /* Hintergrundfarbe des Fußbereichs */
    color: #fff; /* Textfarbe im Fußbereich */
    text-align: center; /* Text zentrieren */
    padding: 1rem; /* Innenabstand */
    position: flex; /* Fußbereich am unteren Bildschirmrand fixieren */
    bottom: 0; /* Am unteren Rand des Fensters platzieren */
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  width: 100%;
  max-height: 300px; /* Maximalhöhe für den Header festlegen */
  overflow: hidden; /* Verhindert, dass Bilder über die maximale Höhe hinaus angezeigt werden */
}

/* Overlay container */
.overlay-container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Bilder anpassen, um die Box vollständig auszufüllen */
.slideshow-container img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Bilder vollständig in die Box einpassen */
  align-content: center;
  overflow: hidden;
  max-height:inherit;
}

/* Verbleibender CSS-Code bleibt unverändert */
.mySlides {
  display: none;
}

.navigation .prev, .navigation .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}

.navigation .prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.navigation .next {
  right: 0;
  border-radius: 0 3px 3px 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Style for the text in the header */
.text-overlay {
  color: white;
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}
